  
{{!-- {{#each artists}} --}}
{{!-- {{/each}} --}}
<div class = "artist-list">
    <ul>
{{#each results.artists.items}}
<li class='artist-box'>
<img style="width: 200px;" src={{this.images.[0].url}}>
{{this.name}}
<a class="artist-link" href="/albums/{{id}}">View albums</a>

</li>
{{/each}}
</ul>
</div>
{{!-- <h1> {{results.artists.items}}</h1>
<h1>yooo</h1> --}}