<div id="home">
  <div class="form-input">
<form class="form-inside" action="/artists" method="GET">
  <input class="form-box" placeholder="Search for an artist!" type="text" name="artist"><br>
  <button class="form-search" type="submit">Search for artists</button>
</form>
</div>

</div>